body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.logo {
  position: relative;
  
  left:.2rem;
  height: 100px;
  width: 100px;
}
.mainpart {
  display: flex;
  justify-content: space-between;
  padding: 0% 3.5rem;
  padding-top: 25px;
}

.navbar {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  list-style: none;
}

.navbar li {
  margin-right: 2rem;
}
.navbar li a {
  text-decoration: none;
  color: rgb(255, 246, 246);
  padding: 10px 15px;
  transition: 0.3s;
  border-radius: 5px;
}
.navbar li a:hover {
  background-color: #8c8989;
}
.title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
}

/* Section styling */

#About {
  background-color: rgb(58, 56, 58);
  filter: brightness(0.6) contrast(1.5) opacity(0.8);
  z-index: -1;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100%; 
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
    
}

#About h1 {
    font-size: 28px;
    color:white;
    margin-bottom: 20px;
}

/* First div styling */
.About.first {
    margin-bottom: 40px;
   margin-right:15rem;
}

.ABtext{
  text-align:left;
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  color: white;
  padding-left: 5%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 3%;

}
.About-container p {
    font-size: 2rem;
    line-height: 1.6;
    color:white;
}

/* About content styling */
.About-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
    flex-wrap: wrap; /* Allows content to wrap, avoiding overflow */
}

.About-article {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 195px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About-article img {
    width: 50px;
    height: 50px;
}

.fullname {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
}

.name {
    font-size: 16px;
    color: #555;
}
/*course page*/

.course {
  background-color: black;
  filter: brightness(0.6) contrast(1.5) opacity(0.8);
  text-align: center;
  font-family: Arial, sans-serif;
  
}
#skills{
  font-size:20px;
  height: 100%;
  width: 100%;
  
}
.coursetitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: white;
  padding-top: 5rem;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px; 
  padding-top: 80px;
  margin: 0 auto; 
  max-width: 1200px; 
  justify-content: center;
  text-align: center;
}

.skill-article{
padding: 1rem 3rem;
border-radius: 55px;
border-color: #575757;
margin-right: 1rem;
margin-bottom: 2rem;
background: none;
color: white;
border-style: solid;
position: relative;
overflow: hidden;
  
}
.skill-article:hover{
  border-color: var(--color-primary);
  
}

/*contact page*/

.Contact{
    /* padding-top: 120px; */
    background-color: rgb(58, 56, 58);
    filter: brightness(0.6) contrast(1.5) opacity(0.8);
    z-index: -1;
    height: 100%;
    
}
.detailstext {
    padding-left: 40%;
    color: white ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    padding-top:5%;
    
}
.contatact-container{
    margin-top: 80px;
}
form{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    padding-left: 20%;
}
.form-top{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
}
form input{
    padding: 10px;
    background: transparent;
    margin-bottom: 30px;
    color:white;
    border: none;
    box-shadow: 0 1px 0 0 var(--color-border);
    transition: .4s ease;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
form input:focus{
    border-bottom: 1px solid blueviolet;
    color:var(--color-primary);
    box-shadow: none;
}
.form-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: white;
}
.form-bottom textarea{
    width: 100%;
    padding: 9px;
    height: 100px;
    background: transparent;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 17px;
    border: 1px solid var(--color-border);
    color: var(--color-primary);
}
.form-bottom textarea :focus{
border-bottom: 1px solid blueviolet;
}

footer{
    margin-top:500px ;
    margin-bottom: 40px ;
    text-align: center;
    color:var(--color-border);
}
.naWinScroll{
    background: var(--color-dark);
    box-shadow: 0 0.1rem rgba(0,0,0,0,7);
}
.button{
  display: flex;
  margin-right: 30rem;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 1rem;
}
.button1 {
    padding: 1rem 3rem;
    border-radius: 51px;
    border-color: #575757;
    margin-right: 1rem;
    margin-bottom: 2rem;
    background: none;
    color: white;
    border-style: solid;
    position: relative;
    overflow: hidden;
  }
